@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}

.container {
    background-color: #ffffff;
    width: 870px;
    padding: 33px 30px;
    border-radius: 5px;
}

.top-player {
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(243, 226, 226);
}

.section-title {
    color: #562eff;
    font-size: 24px;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}

.player {
    display: flex;
    align-items: center;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

.player img {
    width: 56px;
    height: 56px;
}


/* blog sec */


.top-blog {
    padding-bottom: 30px;
}



.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 29px;
}

.blog {
    display: flex;
    align-items: center;
}

.blog-info {
    margin-left: 16px;
}

.blog-info p {
    font-size: 16px;
}

.blog-info a {
    text-decoration: none;
}

.blog-section-title {
    color: #562eff;
    font-size: 20px;
    margin-top: 30px;
}

.blog img {
    width: 177px;
    height: 117px;
}




.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.course {
    padding: 10px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    box-shadow: .5px .5px .5px .5px #c6b8b8;
    ;
}



.course .course-banner img {
    width: 100%;
    height: 104px;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: gold;
}

.fa-star.empty {
    color: #ddd;
}

.course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-duration {
    background-color: rgb(243, 199, 199);
    border-radius: 25px;
    padding: 10px 20px;
}